{
    "extends": ["airbnb-base", "prettier", "plugin:mocha/recommended"],
    "plugins": ["prettier", "mocha"],
    "env": {
        "node": true,
        "mocha": true,
    },
    "rules": {
        "prettier/prettier": 2,
        "no-console": 0,
        "no-param-reassign": 0,
        "mocha/no-mocha-arrows": 0,
        "camelcase": 0,
    },
}
